@import "tailwindcss";
@custom-variant dark (&:where([data-theme=dark], [data-theme=dark] *));

@plugin "daisyui" {
	themes: light --default;

	/*light --default,
        dark --prefersdark,
        cupcake;*/
}
